form.subscribe-form(
    action="//pycascades.us15.list-manage.com/subscribe/post?u=910a586d174a45ddb1125ad4e&amp;id=1f87464654",
    method="post",
    id="mc-embedded-subscribe-form",
    name="mc-embedded-subscribe-form",
    target="_blank"
)
    input(
        type="email",
        name="EMAIL",
        value="",
        placeholder="Your Email",
        required="required"
    )
    button(type="submit")
        |#[i.fa.fa-send] Subscribe
    div(style="position: absolute; left: -5000px;", aria-hidden="true")
        input(
            type="text",
            name="b_910a586d174a45ddb1125ad4e_1f87464654",
            tabindex="-1",
            value=""
        )
