doctype html

html

    head
        title {% block page_title %}IndyPy Automate Conf ’19 &ndash; Fishers, IN{% endblock %}
        meta(charset="UTF-8")
        meta(http-equiv="content-Language", content="en_US")
        meta(name="google", content="notranslate") {# TEMP #}
        meta(
            name="viewport",
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
        meta(
            name="description",
            content="Website for IndyPy Automate Conf ’19, a regional Python conference for automation in Fishers, IN USA."
        )
        meta(
            name="keywords",
            content="Python,PyCon,Conference,Indianapolis,Fishers,Automation"
        )
        meta(property="og:url", content="http://2019.indypy.org")
        meta(
            property="og:description",
            content="Website for IndyPy Automate Conf ’19, a regional Python conference for automation in Fishers, IN USA."
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900"
        )
        link(
            rel="stylesheet",
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        )
        link(rel="stylesheet", type="text/css", href="{{ CSS_URL }}")
        script(src="{{ JS_URL }}")

        block extrahead

    body(class="{% block body_class %}{% endblock %}")

        #page(ng-controller="Ctrl")

            header(headroom, ng-class="{scrolling:isScrolling,up:waypoints.info.up,down:waypoints.info.down}")
                .container
                    .logo
                        a.bg-contain.bg-ir(
                            href="",
                            ff-bg="/static/images/header-logo.png"
                        ) IndyPy Automate Conf ’19
                {% include "includes/nav.jade" %}

            #main
                block main
            
            #banner
                a(href="https://www.papercall.io/indypy", target="_blank")
                    strong Apply to#[br]Speak

            footer
                .container
                    ul.links
                        li
                            a(href="{{ '/code-of-conduct'|url }}") Code of Conduct
                        li.slack
                            a(href="{{ bag('settings.SLACK_URL') }}", target="_blank")
                                |#[i.fa.fa-slack] IndyPy
                        li.twitter
                            a(href="{{ bag('settings.TWITTER_URL') }}", target="_blank")
                                |#[i.fa.fa-twitter] IndyPy
                        li.youtube
                            a(href="{{ bag('settings.YOUTUBE_URL') }}", target="_blank")
                                |#[i.fa.fa-youtube] IndyPy
                        li.github
                            a(href="{{ bag('settings.GITHUB_URL') }}", target="_blank")
                                |#[i.fa.fa-github] IndyPy

                    block logos
                        {% include "includes/sponsor_logos_smol.jade" %}

                    p.thanks Thanks to <a href="https://2019.pycascades.com/" target="_blank">PyCascades</a> for the website template used on this site!

            a#menu-trigger.bg-contain(
                ff-bg="/static/images/menu.svg",
                ng-click="isMenuVisible=!isMenuVisible"
            )
            #menu.ng-cloak(
                ng-show="isMenuVisible",
                ng-click="isMenuVisible=false"
            )
                a.close.bg-contain(
                    ff-bg="/static/images/close.svg",
                    ng-click="isMenuVisible=false"
                )
                {% include "includes/nav.jade" %}

        block bottom
            script.
                var data = {};
                indypy.start(data);

