extends "base.jade"

block body_class
    |home

block main

    section#intro
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/conference-room-3.jpg")
        .overlay
        .main.vcontainer
            .inner
                a.event-box(href='https://meetup.com/indypy')
                    img.u-max-full-width(src='/static/images/logo.png')
                    | <br>RSVP for our Meetups Here

                a.event-box(href='https://2020.indypy.org/webconf')
                    img.u-max-full-width(src='/static/images/webconf-logo.png')
                    | <br>June 19, 2020
                    | <br>Register Today

        .advance
            h1(style='margin-top: 50px; text-align: center; width: 100%') Check out our upcoming Meetups
            a.down(ng-click="scrollTo('welcome')")
                {% include "includes/chevron-down.svg" %}

    section#welcome
        .background
        .overlay
        .main.vcontainer
            .inner
                .container
                    .row.fade-up(in-view)
                        .one-half.column
                            h2 RSVP to our<br>next Meetups

                            p.
                                Our monthly Meetups are at the following locations:

                            p.
                                IndyPy Mixers
                                <br>The District Tap
                                <br>3720 E 82nd St, Indianapolis, IN 46240

                            p.
                                IndyPy Bytes
                                <br>We're moving around IndyPy
                                <br>Check out Meetup to see where we are this month

                        .one-half.column
                            #meetups
                                p.fallback.
                                    Visit our <a href="{{ bag('settings.MEETUP_URL') }}" target="_blank">Meetup page</a> to see upcoming events.

    section#newsletter
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/announcements.jpg")
        .overlay
        .main.vcontainer
            .inner
                .container.fade-up(in-view)
                    .row
                        h2 Follow The Conversation
                        p.
                            Join us on Meetup to keep up-to-date on the latest news.

                        p
                            a.button.join(
                                href="{{ bag('settings.MEETUP_URL') }}",
                                target="_blank"
                            ) Join IndyPy

                    .row
                        .three.columns.social
                            a(
                                href="{{ bag('settings.TWITTER_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-twitter]
                            | You can also follow us.

                        .three.columns.social
                            a(
                                href="{{ bag('settings.YOUTUBE_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-youtube]
                            | Or watch our videos.

                        .three.columns.social
                            a(
                                href="{{ bag('settings.SLACK_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-slack]

                            | Or join our Slack team.

                        .three.columns.social
                            a(
                                href="{{ bag('settings.GITHUB_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-github]

                            | Or checkout our code.

                    .row
                        .job-board-text
                         | Looking for a job? Check out the&nbsp;
                         a(href='http://www.indyhackers.org/jobs', target="_blank")
                            | Indy Hackers Job Board
                         a(href='http://www.indyhackers.org/jobs', target="_blank", class="job-board-logo")
                             img(src='/static/images/indyhackers-logo.png')


    section#sponsors
        .main.vcontainer
            .inner
                .container
                    {% include "/includes/sponsor_logos.jade" %}

append bottom
    script.
        var events_url = "https://api.meetup.com/indypy/events?photo-host=public&page=3&sig_id=275961002&status=upcoming&sig=63eac6ed67713fd0d2f2a59ee72102eccaf7907f&callback=myJsonpCallback";

        var scriptEl = document.createElement('script');
        scriptEl.setAttribute('src', events_url);
        document.body.appendChild(scriptEl);

        window.myJsonpCallback = function(data) {
            console.log(data.data)
            var html = '';
            data.data.forEach(function(event) {
                var event_date = moment(event.local_date + " " + event.local_time);
                html += '<div class="meetup-event">' +
                        '<h4>' + event_date.format('MMMM D, YYYY') + ' &bull; '+ event_date.format('h:mm a') +'</h4>' +
                        '<a href="' + event.link + '" target="_blank">' + event.name + '</a>\n';
                if (event.venue && event.venue.name) {
                    html += '<br><span class="meetup-venue">' + event.venue.name;
                    if (event.venue.city) {
                        html += ' &bull; ' + event.venue.city;
                    }
                    html += '</span>';
                }
                html += '</div>\n';
            });
            var meetups = document.getElementById('meetups');
            meetups.innerHTML = html;
        };
